In [1]:
from clearml import Task, Dataset
task = Task.init(project_name="uchicago", task_name="my task")

ClearML Task: overwriting (reusing) task id=378c5c79a7c142beae5e70b0f6b79d06
2021-04-10 15:07:37,003 - clearml.Task - INFO - No repository found, storing script code instead
ClearML results page: https://app.community.clear.ml/projects/c3aeff19e3764c63a0a8acc00018a71e/experiments/378c5c79a7c142beae5e70b0f6b79d06/output/log

## Create Dataset1 from Local to ClearML

In [29]:
!clearml-data create --project uchicago --name dataset1
!clearml-data sync --folder /Users/andrewleonard/Documents/GitHub/ML_Ops/illinois-history.csv

clearml-data - Dataset Management & Versioning CLI
Creating a new dataset:
New dataset created id=9a9a3f12d37d460ca45853eb4f0daaea
clearml-data - Dataset Management & Versioning CLI
Syncing dataset id 9a9a3f12d37d460ca45853eb4f0daaea to local folder /Users/andrewleonard/Documents/GitHub/ML_Ops/no_state.csv
Sync completed: 0 files removed, 1 added / modified
Finalizing dataset
Pending uploads, starting dataset upload to https://files.community.clear.ml
Uploading compressed dataset changes (1 files, total 11.26 KB) to https://files.community.clear.ml
Upload completed (11.26 KB)
2021-04-10 15:27:11,502 - clearml.Task - INFO - Waiting to finish uploads
2021-04-10 15:27:11,703 - clearml.Task - INFO - Finished uploading
Dataset closed and finalized
2021-04-10 15:33:59,359 - clearml.Task - WARNING - ### TASK STOPPED - USER ABORTED - STATUS CHANGED ###

## Download Dataset1 to Local

In [16]:
dataset = Dataset.get(dataset_project = 'uchicago', dataset_name = 'dataset1')

In [17]:
dataset_folder = dataset.get_mutable_local_copy(target_folder = 'working_dataset')

In [18]:
dataset_folder

'working_dataset'

In [19]:
import pandas as pd

In [20]:
data = pd.read_csv("working_dataset/illinois-history.csv")

In [21]:
data.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-10-09,IL,A,9191.0,8945.0,32,246.0,NaN,NaN,1812.0,...,6180417,71898,NaN,NaN,NaN,NaN,NaN,0,6177379.0,71599
1,2020-10-08,IL,A,9159.0,8910.0,32,249.0,NaN,NaN,1755.0,...,6108519,72491,NaN,NaN,NaN,NaN,NaN,0,6105780.0,72491
2,2020-10-07,IL,A,9127.0,8878.0,42,249.0,NaN,NaN,1679.0,...,6036028,58820,NaN,NaN,NaN,NaN,NaN,0,6033289.0,58820
3,2020-10-06,IL,A,9085.0,8836.0,31,249.0,NaN,NaN,1673.0,...,5977208,49513,NaN,NaN,NaN,NaN,NaN,0,5974469.0,49513
4,2020-10-05,IL,A,9054.0,8805.0,14,249.0,NaN,NaN,1631.0,...,5927695,38538,NaN,NaN,NaN,NaN,NaN,0,5924956.0,38538

## Store Dataset2

In [24]:
#drop a column
data2 = data.drop('state', axis = 1)

In [26]:
#save to data folder
data2.to_csv('working_dataset/no_state.csv')

In [27]:
new_dataset = Dataset.create(dataset_project = 'uchicago', dataset_name = 'dataset2', parent_datasets=[dataset])
new_dataset.sync_folder(local_path=dataset_folder)
new_dataset.upload()
new_dataset.finalize()

Generating SHA2 hash for 2 files
Hash generation completed
Uploading compressed dataset changes (1 files, total 11.26 KB) to https://files.community.clear.ml
Upload completed (11.26 KB)
2021-04-10 15:21:24,291 - clearml.Task - INFO - Waiting to finish uploads
2021-04-10 15:21:24,477 - clearml.Task - INFO - Finished uploading

True

In [ ]:
dataset = Dataset.get(dataset_project = 'uchicago', dataset_name = 'dataset2')